table {
color:blue;
}
[height="250"] {
	color:blue;
}
.back1{
color:pink;border:4px solid pink ;border-radius:8px;}
.back{
color:black;border:4px solid pink ;border-radius:8px;}
.back3{
border:4px solid #FA8072 ;border-radius:8px;}